.sidebar{
    height: 100vh;
    flex: 0.2;
    color: white;
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #040404;
}

.sidebar-logo{
    object-fit: contain;
    height: 70px;
    width: 100%;
}

.sidebar-title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}